<form method="post" action="{{ path('task_delete', {'id': task.id}) }}"
      onsubmit="return confirm('Вы уверены, что хотите удалить задачу?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn btn-block btn-outline-danger mt-2">удалить</button>
</form>
