{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="text-center">
    <button class="btn btn-block btn-outline-success">{{ button_label|default('Сохранить') }}</button>
</div>
{{ form_end(form) }}
