{% extends 'base.html.twig' %}

{% block title %}Изменить задачу{% endblock %}

{% block body %}
    <div class="d-flex flex-row justify-content-center">
        <div></div>
        <div>
            <h1>Изменить задачу</h1>

            {{ include('task/_form.html.twig', {'button_label': 'сохранить'}) }}

            <a href="{{ path('task_index') }}" class="btn btn-block btn-outline-info mt-2">назад</a>

            {{ include('task/_delete_form.html.twig') }}
        </div>
        <div></div>

    </div>
{% endblock %}
