{% extends 'base.html.twig' %}
{% block navigation %}
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <form class="form-inline my-2 my-lg-0" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <label for="inputUsername" class="sr-only mr-sm-2">Username</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                   class="form-control mr-sm-2" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only mr-sm-2">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control mr-sm-2"
                   placeholder="Password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Войти
            </button>
        </form>
    {% endif %}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h1>Все задачи</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Username', 'task.username') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Email', 'task.email') }}</th>
                <th>Описание</th>
                <th>{{ knp_pagination_sortable(pagination, 'Статус', 'task.completed') }}</th>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <th>действия</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for task in pagination %}
                <tr>
                    <td>{{ task.username }}</td>
                    <td>{{ task.email }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.completed ? 'Выполнено' : 'Не выполнено' }}</td>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <td>
                            <a href="{{ path('task_show', {'id': task.id}) }}">Показать</a>
                            <a href="{{ path('task_edit', {'id': task.id}) }}">Изменить</a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">нет записей</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex flex-row justify-content-center">
            <div class="flex-column">
                {{ knp_pagination_render(pagination,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
            </div>
        </div>
        <a href="{{ path('task_new') }}" class="btn btn-block btn-outline-info">Создать</a>
    </div>
{% endblock %}
