{% extends 'base.html.twig' %}

{% block title %}Новая задача{% endblock %}

{% block body %}

    <div class="d-flex flex-row justify-content-center">
        <div></div>
        <div>
            <h1>Создать новую задачу</h1>
            {{ include('task/_form.html.twig') }}
            <div class="text-center">
                <a href="{{ path('task_index') }}" class="btn btn-block btn-outline-info mt-2">назад</a>
            </div>
        </div>
        <div></div>

    </div>


{% endblock %}
