{% extends 'base.html.twig' %}

{% block title %}Задача{% endblock %}

{% block body %}
    <h1>Задача</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ task.id }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ task.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ task.email }}</td>
        </tr>
        <tr>
            <th>Описание</th>
            <td>{{ task.description }}</td>
        </tr>
        <tr>
            <th>Статус</th>
            <td>{{ task.completed ? 'Выполнено' : 'Не выполнено' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('task_index') }}" class="btn btn-block btn-outline-info">назад</a>

    <a href="{{ path('task_edit', {'id': task.id}) }}" class="btn btn-block btn-outline-primary">изменить</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
